<div class="row justify-content-center">
    <app-loader [isLoading]="isLoading"></app-loader>
</div>
<app-carousel
        *ngIf="!isLoading"
        (activeSlide)="activeSlide($event)">
    <ng-container carousel-first-slide>
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap"></mdb-card-img>
                <a> <div class="mask"></div> </a>
            </div>
            <mdb-card-body>
                <mdb-card-title> <h4>{{gbpEur.name}}</h4> </mdb-card-title>
                <mdb-card-text>Rate: {{gbpEur.value}} </mdb-card-text>
                <mdb-card-text>Time: {{time}} </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </ng-container>
    <ng-container carousel-second-slide>
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(68).jpg" alt="Card image cap"></mdb-card-img>
                <a> <div class="mask"></div> </a>
            </div>
            <mdb-card-body>
                <mdb-card-title> <h4>{{chfUsd.name}}</h4> </mdb-card-title>
                <mdb-card-text>Rate: {{chfUsd.value}} </mdb-card-text>
                <mdb-card-text>Time: {{time}} </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </ng-container>
    <ng-container carousel-third-slide>
        <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(69).jpg" alt="Card image cap"></mdb-card-img>
                <a> <div class="mask"></div> </a>
            </div>
            <mdb-card-body>
                <mdb-card-title> <h4>{{usdGbp.name}}</h4> </mdb-card-title>
                <mdb-card-text>Rate: {{usdGbp.value}} </mdb-card-text>
                <mdb-card-text>Time: {{time}} </mdb-card-text>
            </mdb-card-body>
        </mdb-card>
    </ng-container>
</app-carousel>